nav{
  /* z-index: 1000; */
}

.header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  margin: 0 auto;
  height: 40px;
  border-bottom: 1px solid #e1e1e1;
  background-color: #fff;
  padding: 1rem 1rem;

  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  /* z-index: 1000; */
}

.header-logo img{
  resize: both;
  width: 250px;
  height:  40px;
  text-align: center;
}

.header-menus{
  text-align: center;
}

.header-menus ul{
  vertical-align: middle;
  padding-top: 10px;
  margin: 0;
}

.header-menu {
  display: inline-block;
  margin-right: 36px;
}

.header-menu span{
  font-family: 'Nanum Gothic Coding', monospace;
  /* font-family: 'Gaegu', cursive; */
  font-weight: 900;
  font-size: large;
  color: black;
}

.header-menu a{
  text-decoration: none;
}