html, body{
    height: 100%;
    box-sizing: border-box;
}

header {
    text-align: right;
    font-weight: 500;
    color: black;
    display: block;
}

header .buttons {
    padding:1rem 1.25rem ;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}

header a, a:visited {
    text-decoration: none;
    margin-top: 10px;
}

header .signup:visited {
    color: black;
}

header .login {
    padding: 8px 13px;
    border-radius: 4px;
    background-color: rgb(253, 187, 89);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

header .signup, .logout, .logout:visited, .mypage, .mypage:visited {
    margin-left: 5px;
    color: black;
}

#cursor {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 50px;
    height: 50px;
    display: none;
  }

#cursor-img {
    width: 50px;
    height: 50px;
}
  

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* home안에 있는 content 들에 공통적으로 적용되는 특성들을 한번에 먹일 수는 없나? */
.homeTop{
    display: flex;
    justify-content: center;
    margin-top: 25vh;
    margin-bottom: 10px;
}

#logo {
    width: 20%;
}

.homeMiddle{
    display: flex;
    justify-content: center;
}

.homeBottom{
    display: flex;
    justify-content: center;
}

.homeTitle{
    text-align: center;
    font-family: 'Fredoka One';
    line-height: 64px;
    /* identical to box height */
    color: white;
}

.homeTitle h1 {
    -webkit-text-stroke-width: 0.01px;
	-webkit-text-stroke-color: black;
    font-size: 64px;
    margin: 0;
}

.homeMiddle{
    padding: 10px 10px;
}

.homeMiddle .search{
    display: flex;
    flex-direction: row;
    border-radius: 24px;
    border: 2px solid #dfe1e5;
    width: 30vw;
    height: 4vh;
    margin: 15px;
}

.homeMiddle .search_inside{
    display: flex;
    height: 100%;
}

.homeMiddle .magnifying-icon img{
    display: flex;
    resize: both;
    width: 1.5vw;
    height: 70%;
    margin-left: 14px;
    margin-top: 4px;
    margin-right: 5px;
}


.homeMiddle .search_input input{
    border: none;
    height: 90%;
    width: 25vw;
    text-align: center;
    outline: none;
}

.homeBottom .categories{
    display: block;
    width: 33vw;
    padding-top: 1.75rem;
    margin: 0 -0.5rem;
    padding: 0;
    text-align: center;
}


.homeBottom .category{
    display: inline-block;
    width: 21%;
    height: 60%;
    text-align: center;
}

.homeBottom .category a{
    text-decoration: none;
}

.homeBottom .category p{
    margin: 0 auto;
    letter-spacing: normal;
    color: #323232;
    font-family: Noto Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.homeBottom .category .category-icon{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.homeBottom .category-icon img{
    /* display: flex; */
    resize : both;
    width: 54px;
    height: 54px;
}

.newLeaf {
    position: absolute;
    width: 300px;
    height: 500px;
    left: 0;
    bottom: 0;
}

.balloon {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 150px;
    bottom: 400px;
}

.myDrawing .hello {
    position: absolute;
    left: 230px;
    bottom: 490px;
    text-align: center;
}


.myDrawing {
    animation: fadein 3s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.autocomplete {
/*the container must be positioned relative:*/
position: relative;
display: inline-block;
}

input {
border: 1px solid transparent;
background:none;
padding: 10px;
font-size: 16px;
height:4vh;
outline:none;
}

input[type=text] {
background-color: transparent;
width: 100%;
padding: 0;
}

.autocomplete-items {
position: absolute;
border: 1px solid #d4d4d4;
border-bottom: none;
border-top: none;
z-index: 99;
/*position the autocomplete items to be the same width as the container:*/
top: 100%;
left: 0;
right: 0;
}
.autocomplete-items div {
padding: 10px;
cursor: pointer;
background-color: #fff;
border: 1px solid #d4d4d4;
width: calc(25vw - 5px)
}
.autocomplete-items div:hover {
/*when hovering an item:*/
background-color: #FDBB59;
}
.autocomplete-active {
/*when navigating through the items using the arrow keys:*/
background-color: DodgerBlue !important;
color: #ffffff;
}

.autocomplete-items div a, a:visited {
text-decoration: none;
color: black;
}

div .center {
    display: none;
}

.sketchbook {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;

#home-footer {
    padding-top: 10px;
    margin-bottom: 10px;
    display: flex;
    border-top: 2px solid #dfe1e5;
    justify-content: flex-end;
}
  
#insta-icon {
    width: 50px;
}