.allServices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services {
  padding-left: 0px;
  margin-bottom:8px;
}

.allServices ul li {
list-style: none;
padding-left: 0px;
}

.allServices li {
  color:#525252;
  font-size: 16px;
  margin-bottom:8px;
}

.allServices h2 {
  text-align: center;
  font-size: 32px;
  font-family: 'Noto Sans KR', sans-serif;
}

.allServices h3 {
  font-size: 24px;
  margin-bottom:8px;
  font-family: 'Noto Sans KR', sans-serif;
}

.categories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left:0%;
  width: 1200px;
  height: 1096.25px;
}

.contentsPage {
  text-align: center;
  padding: 10%;
  font-family: 'Noto Sans KR', sans-serif;
}

.homeMiddle{
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}

.homeMiddle .search{
  display: flex;
  flex-direction: row;
  border-radius: 24px;
  border: 2px solid #dfe1e5;
  width: 35vw;
  height: 5vh;
  z-index: 3;
  margin: 15px;
}

.homeMiddle .search_inside{
  display: flex;
  height: 100%;
}

.homeMiddle .magnifying-icon img{
  display: flex;
  resize: both;
  width: 1.5vw;
  height: 70%;
  margin-left: 14px;
  margin-top: 6px;
  margin-right: 5px;
}

.homeMiddle .search_input input{
  border: none;
  height: 90%;
  width: 30vw;
  text-align: center;
}

.mainTitle .mainTitle-title {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.mainTitle #segmentTitle {
  margin-bottom: 0px;
}

.mainTitle .mainTitle-title-sentence {
  font-size: 16px;
  margin-top: 0px;
}

.mainMenu {
  border-top: 2px solid #dfe1e5;
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.mainMenu .mainMenu-icons {
  background-color: antiquewhite;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 70%;
}

#mainMenu-iconimg {
  width: 80%;
  margin-top: 8px;
}

#mainBody-plus-btn {
  padding-top: 10px;
  width: 1.8%;
}

.mainBody .mainBody-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mainBody .mainBody-container .mainBody-factors {
  width: 30%;
  height: 200px;
  border : none;
  margin-bottom: 30px;
  background-color: antiquewhite;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px #dfe1e5;
}

.mainBody .mainBody-container .mainBody-factors .mainBody-factors-top {
  height: 70%;
  background-color: aliceblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.mainBody .mainBody-container .mainBody-factors .mainBody-factors-bottom {
  font-size: 15px;
  vertical-align: center;
  margin-top: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

footer {
  border-top: 2px solid #dfe1e5;
  display: flex;
  justify-content: flex-end;
}

.footer {
  margin-top: 10px;
  display: flex;
  justify-content: row;
}

#insta-icon {
  width: 50px;
}
