/* .text-body{
    display: block;
    overflow-y: scroll;
    font-family: 'Noto Sans KR', sans-serif;
}

.text-main-container{
    padding-left: 1.875em;
    padding-right: 1.875em;
    padding-top: 80px;
}

.text-navigator .nav-sidebar{
    background-image: linear-gradient(to bottom,#ffffff 0%,#f8f9fa 10%,#f8f9fa 90%,#ffffff 100%);
    position: absolute;
    left: -1.875em;
    width: 15em;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 70px 0 40px 40px;
    z-index: 1;
}

.text-navigator .nav-head{
    max-width: 70em;
    margin: 10px auto;
}

.text-navigator .nav-head::after{
    clear: both;
    content: '';
    display: block;
}

.text-navigator .nav-head .left-nav{
    background-repeat: no-repeat;
    background-size: 1px 100%;
    background-image: none;
    padding-left: 0;
}

.text-navigator .nav-head .left-nav ul{
    float: left;
    list-style: none none;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none none;
    display: block;
}

.text-content {
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
}

.text-content main{
    display: block;
}

.text-content .text-body{
    border-top: 1px solid rgb(253, 187, 89);
    margin-top: -1px;
    padding: 1.25em 0 1.5em 0;
}

.text-content .text-body .body-header h1{
    font-size: 1.8em;
    border-bottom: 1px solid #a2a9b1;
    margin-bottom: 0.5em;
    padding: 0;
} */

.text-body{
    min-height: 65vh;
    font-family: 'Noto Sans KR', sans-serif;
}
.text-body .container{
    padding: 0;
    width: 90%;
    height: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.container .navigator{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    min-height: 50px;
    padding-bottom: 15px;
    align-items: baseline;
    flex-direction: row;
}

.container .article-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.article-container .sidebar{
    background-image: linear-gradient(to bottom,#ffffff 0%,#f8f9fa 10%,#f8f9fa 90%,#ffffff 100%);
    border: 0;
    flex: 0 0 17%;
    height: auto;
    margin-bottom: 20px;
    padding: 0;
}

.article-container .sidebar h3{
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}

.article-container .sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.article-container .sidebar li{
    display: list-item;
    text-align: -webkit-match-parent;
}

.article-container .sidebar .list-item{
    text-decoration: none;
    border-radius: 4px;
    color: #363a3c;
    display: block;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 10px;
}

.article-container .sidebar .list-item:hover{
    background-color: rgba(253, 187, 89, 0.1);
    color: #ffbf00;
    text-decoration: none;
    border-radius: 0.3em;
}

.article-container .article{
    flex: 1 0 66%;
    max-width: 66%;
    min-width: 640px;
    padding: 0 30px;
}

.article-container .article .article-header{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
}

.article .article-header .article-title{
    flex-basis: 100%;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0.67em;
}

.article .article-info{
    max-width: 100%;
}

.article .article-info .article-content{
    line-height: 1.6;
    margin: 40px 0;
    word-wrap: break-word;
    font-weight: 300;
}

.article footer{
    color : #878d91;
}

.article .article-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.article-share{
    justify-self: start;
}

.article-share .share{
    padding: 0;
    white-space: nowrap;
}

.article-share .share li, .share a{
    display: inline-block;
}

.article-share .share a{
    border-radius: 20%;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    width: 25px;
    margin-right: 5px;
}

.article-share .share img{
    resize: both;
    width: 25px;
    height: 25px;
}