<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>FEB</title>
    {% load static %}
  </head>
  <body>
    <div style="width:100%; height: 50vh; display:flex; justify-content:space-between;" class="dogaccept-image">
      <img src="{% static 'blogPosts/img/kaeinjung.png' %}">
      <img src="{% static 'blogPosts/img/bochule.png' %}">
      <img src="{% static 'blogPosts/img/bangchim.png' %}">
    </div>
    <div style="width:100%; height: 50vh; display:flex; justify-content:space-between;"  class="dogaccept-image">
      <h1>개인정</h1>
      <h1>보철이</h1>
      <h1>방침</h1>
    </div>
  </body>
</html>
