{% comment %} <!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>FEB</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/accounts/css/editName.css' %}">  
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
    </style>
  </head>
  <body>
  <form method="POST" action="{%url 'editname' %}">
    {% csrf_token %}
    <a href="{%url 'home'%}">홈으로</a>
    <div class="editNameContainer">
      <div class="nameInfo">
        <h1>이름 수정</h1>
        <div class="signContainer">
          <img data-v-12be6ebe="" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGc+CiAgICAgICAgICAgIDxnPgogICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTAgMEwyMCAwIDIwIDIwIDAgMjB6IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzIgLTMwMSkgdHJhbnNsYXRlKDE2IDI4MSkgdHJhbnNsYXRlKDE2IDIwKSIvPgogICAgICAgICAgICAgICAgICAgIDxwYXRoIGZpbGw9IiMzMjMyMzIiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTEwIDJjLTQuNDE2IDAtOCAzLjU4NC04IDhzMy41ODQgOCA4IDggOC0zLjU4NCA4LTgtMy41ODQtOC04LTh6bS44IDEySDkuMlY5LjJoMS42VjE0em0wLTYuNEg5LjJWNmgxLjZ2MS42eiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTMyIC0zMDEpIHRyYW5zbGF0ZSgxNiAyODEpIHRyYW5zbGF0ZSgxNiAyMCkiLz4KICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==" alt="secondary">
          <span>알고 계셨나요? binthecoder는 Tyler, the Creator에서 따왔습니다.</span>
        </div>
        <section class="inputName">
          <fieldset>
            <legend>이름</legend>
            <div>
              <input name="username" type="text" placeholder= {{user.get_username}}>
              <div class="invalidFeedback"></div>
            </div>
          </fieldset>
        </section>
        <footer class="buttonGroup">
          <a class="cancel" href="{% url 'mypage' %}">취소</a>
          {% comment %} <input type="submit" value="Save!"> {% endcomment %}
       
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>FEB</title>
    {% load static %}
  </head>
  <body>
    <img src='{% static '/blogPosts/img/leeyong.png' %}'>
  </body>
</html>
