<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>FEB</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/accounts/css/editPassword.css' %}">  
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
    </style>
  </head>
  <body>
    <form method="POST" action="{%url 'editpassword' %}">
    {% csrf_token %}
    <a href="{%url 'home'%}">홈으로</a>
    <div class="editPasswordContainer">
      <div class="passwordInfo">
        <h1>비밀번호 수정</h1>
        <section class="inputPassword">
          <fieldset>
            <legend>기존 비밀번호</legend>
            <div>
              <input name="old_password" type="password" placeholder="현재 비밀번호를 입력해주세요" autocomplete="off">
              <div class="invalidFeedback"></div>
            </div>
          </fieldset>
        </section>
        <section class="inputPassword">
          <fieldset>
            <legend>새로운 비밀번호</legend>
            <div>
              <input name="new_password" type="password" placeholder="영문+숫자 조합 8자리 이상 입력해주세요" autocomplete="off" min-length="8">
              <div class="invalidFeedback"></div>
            </div>
          </fieldset>
        </section>
        <footer class="buttonGroup">
          <a class="cancel" href="{% url 'mypage' %}">취소</a>
          <button class="confirm" type="submit">변경 완료</button>
        </footer>
      </div>
    </div>
    </form>
  </body>
</html>
