<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>FEB</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/accounts/css/mypage.css' %}">  
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    {% comment %} {% block js %}
    		<script type="module" src="{% static 'accounts/js/mypage.js' %}"></script>
    {% endblock js %} {% endcomment %}
  </head>
  <body>
    <a href="{%url 'home'%}">홈으로</a>
    <div class="accountSetting">
      <h1>계정 설정</h1>
      <div class="accountProfileImage">
        <form name = "profile_image_form" enctype="multipart/form-data" action="/accounts/mypage/" method="POST">
        {% csrf_token %}
          <img src = "{{user.profile.profile_image.url}}", class="profileImage">
          <label class = "photo_button" >
            <input name="photo" type="file" class = "photo_input" onChange="profile_image_form.submit()" />
            <div class = "button" >
              <img src="{%static 'accounts/img/camera.svg'%}" class="cameraIcon"/>
            </div> 
          </label>
        </form>
          {% comment %} <input type = "submit"> {% endcomment %}
      </div>
      <section class="accountDetails">
        <ul class="accountInfo">
          <a href="{% url 'editname' %}" class="itemContainer">
            <div>
              <div class="itemTitle">이메일</div>
              <div class="itemInfo">{{user.get_username}}</div>
            </div>
            <div>
              <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
            </div>
          </a>
          <a href="{% url 'editemail' %}" class="itemContainer">
            <div>
              <div class="itemTitle">이름</div>
              <div class="itemInfo">{{user.profile.email}}</div>
            </div>
            <div>
              <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
            </div>
          </a>
          <a href="{% url 'editpassword' %}" class="itemContainer">
            <div>
              <div class="itemTitle">비밀번호</div>
              <div class="itemInfo">•••••••</div>
            </div>
            <div>
              <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
            </div>
          </a>

          <a href="{% url 'editinterest' %}" class="itemContainer">
            <div>
              <div class="itemTitle">관심분야</div>
              <div class="itemInfo">{{user.profile.interest}}</div>
            </div>
            <div>
              <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
            </div>
          </a>

        <br><br>

        <ul class="deleteAccount">
          <div class="item"><a href="{% url 'trapcard' %}">계정 탈퇴</a></div>
          <div>
            <img src="https://assets.cdn.soomgo.com/icons/icon-mypage-list-arrow.svg">
          </div>
        </ul>
      </section>
    </div>
  </body>
</html>
