{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>POSTS</h1>
    <a href= "{% url 'blogPosts:new' %}">new post</a>
    {% for post in posts %} {% comment %} 이전 view에서 index.html에 모든 포스트를 불러와 'posts'라는 이름으로 전달해주었기 때문에 posts라는 이름으로 사용할 수 있습니다. {% endcomment %}
        <div style="border: 1px solid grey;">
            <a href="/posts/{{ post.id }}/"> {% comment %} 포스트 제목을 누르면 내용을 확인할 수 있도록 링크를 설정해주었습니다. 아직은 확인할 수 없지만 곧 구현할거에요! {% endcomment %}
                <h3>{{ post.title }}</h3>
        </a>
        {{post.brief_description}}
    </div> 
    {% endfor %}


{% endblock content %}