<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>FEB</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/blogPosts/css/home.css' %}">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
    </style>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    {% comment %} <script src="{% static 'blogPosts/js/cursor.js' %}"></script> {% endcomment %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'blogPosts/js/home.js' %}"></script>
    <script> 
      function load_titles(titles, categoryId, rId) { 
      autocomplete(document.getElementById("myInput"), titles , categoryId, rId);
    }
    </script>
  </head>
  <body class="home-body">
    <header>
      <div class="buttons">
        {% if user.is_authenticated %}
          <a class="mypage" href="{% url 'mypage' %}">마이페이지</a>
          <a class="logout" href="{% url 'logout' %}">로그아웃</a>
        {% else %}
          <a class="login" href= "{% url 'login' %}">로그인</a>
          <a class="signup" href= "{% url 'signup' %}">회원가입</a>
          <a href="#">여행간사람 : 정은주</a>
        {% endif %}
      </div>
    </header>
    {% comment %} <div id="cursor">
      <img id="cursor-img" src="{% static 'blogPosts/img/pencil.svg' %}" style="transform:rotate(90deg);" />
    </div> {% endcomment %}
    <section class="home">
      <div class="loginButton">
      </div>
      <div class="homeTop">
        <div class="homeTitle">
        {%if user.is_authenticated%}
          <h1 class='green'>
            For Every Beginner
          </h1>
        {% else %}
          <h1>
            For Every Beginner
          </h1>
        {% endif %}
        </div>
      </div>
      <div class = "homeMiddle">
        <div class = "search">
          <div class = "search_inside" style = "width:100%">
            <form autocomplete="off" style="width:100%">
              <div class="autocomplete" style="width:80%;">
                <div id="myInput_home">
                  <input href="javascript:;" onclick="load_titles({{titles}}, {{categoryId}}, {{rId}});" id="myInput" type="text" name="myCountry">
                </div>
              </div>
              <input type="submit" style="display:none;">
            </form>
          </div>
        </div>
      </div>
      {% if user.is_authenticated %}
        <div class = "homeBottom">
          <ul class="categories">
            <li class="category">
              <a href = "/mainPage/1/">
                <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/icons/economics2home.png'%}" />
                  <p class="category-title">금융</p>
                </div>
              </a>
            </li>
            <li class="category">
              <a href = "/mainPage/2/">
                <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/icons/love2home.png'%}" />
                  <p class="category-title">사랑</p>
                </div>
              </a>
            </li>
            <li class="category">
              <a href = "/mainPage/3/">
                <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/icons/exercise2home.png'%}" />
                  <p class="category-title">운동</p>
                </div>
              </a>
            </li>
            <li class="category">
              <a href = "/mainPage/4/">
                <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/icons/hobby2home.png'%}" />
                  <p class="category-title">취미</p>
                </div>
              </a>
            </li>
            <li class="category">
              <a href = "/mainPage/5/">
                <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/icons/study2home.png'%}" />
                  <p class="category-title">학습</p>
                </div>
              </a>
            </li>
            <li class="category">
              <a href = "/mainPage/6/">
                <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/icons/electrons2home.png'%}" />
                  <p class="category-title">전자기기</p>
                </div>
              </a>
            </li>
            <li class="category">
              <a href = "/mainPage/7/">
                <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/icons/application2home.png'%}" />
                  <p class="category-title">어플리케이션</p>
                </div>
              </a>
            </li>
            <li class="category">
              <a href = "/mainPage/8/">
                <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/icons/etc2home.png'%}" />
                  <p class="category-title">기타</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      {% else %}
        <div class = "homeBottom">
          <ul class="categories">
            <li class="category">
              <a href = "/mainPage/1/">
                <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/icons/economics.png'%}" />
                  <p class="category-title">금융</p>
                </div>
              </a>
            </li>
            <li class="category">
              <a href = "/mainPage/2/">
                <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/icons/love.png'%}" />
                  <p class="category-title">사랑</p>
                </div>
              </a>
            </li>
            <li class="category">
              <a href = "/mainPage/3/">
                <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/icons/exercise.png'%}" />
                  <p class="category-title">운동</p>
                </div>
              </a>
            </li>
            <li class="category">
              <a href = "/mainPage/4/">
                <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/icons/hobby.png'%}" />
                  <p class="category-title">취미</p>
                </div>
              </a>
            </li>
            <li class="category">
              <a href = "/mainPage/5/">
                <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/icons/study.png'%}" />
                  <p class="category-title">학습</p>
                </div>
              </a>
            </li>
            <li class="category">
              <a href = "/mainPage/6/">
                <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/icons/electrons.png'%}" />
                  <p class="category-title">전자기기</p>
                </div>
              </a>
            </li>
            <li class="category">
              <a href = "/mainPage/7/">
                <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/icons/application.png'%}" />
                  <p class="category-title">어플리케이션</p>
                </div>
              </a>
            </li>
            <li class="category">
              <a href = "/mainPage/8/">
                <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/icons/etc.png'%}" />
                  <p class="category-title">기타</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      {% endif %}
    </section>
    
    <img class="sketchbook" src="{% static 'blogPosts/img/sketchbook.png'%}"/>
    {% if user.is_authenticated %}
    <img class="sun" src="{% static 'blogPosts/img/suncrayon.png'%}"/>
    <img class="cat" src="{% static 'blogPosts/img/catcrayon.png'%}"/>
    <img class="flower" src="{% static 'blogPosts/img/flowercrayon.png' %}">
    <img class="grass" src="{% static 'blogPosts/img/grasscrayon.png' %}">
    {% endif %}

  </body> 
</html>
