  {% extends 'base.html' %}
  {% load static %}

  {% block content %}
    <section class="home">
      <div class="homeTop">
        <div class="homeTitle">
          For Every Beginner
        </div>
        
      </div>

      <div class = "homeMiddle">
        <div class = "search">
          <div class = "search_inside">
            <div class = "magnifying-icon">
              <img src="{%static 'blogPosts/img/magnifying_glass2.png'%}" />
            </div>
            <div class="search_input">
              <input type="text" placeholder="원하는 내용을 찾아보세요">
            </div>
          </div>
        </div>
      </div>

      <div class = "homeBottom">
        <ul class="categories">
          <li class="category">
            <a href = "http://127.0.0.1:8000/main/">
              <div class = "category-icon">
                <img src="{%static 'blogPosts/img/test.svg'%}" />
                <p class="category-title">하나</p>
              </div>
            </a>
          </li>
          <li class="category">
            <a href = "http://127.0.0.1:8000/main/">
              <div class = "category-icon">
                  <img src="{%static 'blogPosts/img/test.svg'%}" />
                  <p class="category-title">두울</p>
              </div>
            </a>
          </li>
          <li class="category">
            <a href = "http://127.0.0.1:8000/main/">
              <div class = "category-icon">
                <img src="{%static 'blogPosts/img/test.svg'%}" />
                <p class="category-title">세엣</p>
              </div>
            </a>
          </li>
          <li class="category">
            <a href = "http://127.0.0.1:8000/main/">
              <div class = "category-icon">
                <img src="{%static 'blogPosts/img/test.svg'%}" />
                <p class="category-title">네엣</p>
              </div>
            </a>
          </li>
          <li class="category">
            <a href = "http://127.0.0.1:8000/main/">
              <div class = "category-icon">
                <img src="{%static 'blogPosts/img/test.svg'%}" />
                <p class="category-title">다섯</p>
              </div>
            </a>
          </li>
          <li class="category">
            <a href = "http://127.0.0.1:8000/main/">
              <div class = "category-icon">
                <img src="{%static 'blogPosts/img/test.svg'%}" />
                <p class="category-title">여섯</p>
              </div>
            </a>
          </li>
          <li class="category">
            <a href = "http://127.0.0.1:8000/main/">
              <div class = "category-icon">
                <img src="{%static 'blogPosts/img/test.svg'%}" />
                <p class="category-title">일곱</p>
              </div>
            </a>
          </li>
          <li class="category">
            <a href = "http://127.0.0.1:8000/main/">
              <div class = "category-icon">
                <img src="{%static 'blogPosts/img/test.svg'%}" />
                <p class="category-title">여덟</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  {% endblock content %}