<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <title>FEB_mainPage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blogPosts/css/mainPage.css' %}">
  </head>

  <body>
    <section class="mainTitle">
      <div class="mainTitle-title">
        <h1>금융</h1>
      </div>
      <input type="text" placeholder="키워드 내용을 검색해보세요" id="mainTitle-searchtap">
      <button type="button" class="pickBtn" onclick="">검색</button>
    </section>

    <br><br><br>

    <section class="mainMenu">
      <a href="" class="mainMenu-icons">
        1</a>
      <a href="" class="mainMenu-icons">
        2</a>
      <a href="" class="mainMenu-icons">
        3</a>
      <a href="#" class="mainMenu-icons">
        4</a>
      <a href="#" class="mainMenu-icons">
        5</a>
      <a href="#" class="mainMenu-icons">
        6</a>
      <a href="#" class="mainMenu-icons">
        7</a>
      <a href="#" class="mainMenu-icons">
        8</a>
      <a href="#" class="mainMenu-icons">
        9</a>
    </section>

    <br><br><br>

    <section class="mainBody">
      <h3>인기 게시판</h3>

      <div class="mainBody-container">
        <div class="mainBody-factors">1</div>
        <div class="mainBody-factors">2</div>
        <div class="mainBody-factors">3</div>
        <div class="mainBody-factors">4</div>
        <div class="mainBody-factors">5</div>
        <div class="mainBody-factors">6</div>
        <div class="mainBody-factors">7</div>
        <div class="mainBody-factors">8</div>
        <div class="mainBody-factors">9</div>
      </div>
    </section>
  </body>

</html>