<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>FEB</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blogPosts/css/base.css' %}">  
    <link rel="stylesheet" href="{% static 'blogPosts/css/home.css' %}">  
    <link rel="stylesheet" href="{% static 'blogPosts/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'blogPosts/css/textPage.css' %}">  
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100,300,500,700,900&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
    </style>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{% static 'blogPosts/js/cursor.js' %}"></script>
  </head>
  <body>
    {% comment %} <div id="cursor">
      <img src="http://superkts.pe.kr/images/helper/huk.gif"
      alt="헉">
    </div> {% endcomment %}
    
    <nav class="header">
      <div class="header-logo">
        <a href="/">
          <img src="{%static 'blogPosts/img/logo.png'%}" />
        </a>
      </div>
    
      <div class="header-menus">
        <ul>
          <li class="header-menu">
            <a href= #>
              <span>발행</span>
            </a>
          </li>
    </nav>

    <form action="{% url 'blogPosts:example' %}" method="POST">

        {% csrf_token %}
        <p class="categories-box">분류</p>
        <input name = "section"/><br/>
        <p class="title">제목</p>
        <input name="title" /> <br />
        <p class="brief-description">한줄 요약</p>
        <textarea name="brief_description" rows="1" cols="50"></textarea> <br />
        <p class="content">내용</p>
        <textarea name="content" rows="30" cols="50"></textarea> <br />
        
        <input type="submit" value="submit" />
    </form>
    
  </body>
</html>

    
