<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>FEB</title>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'blogPosts/css/textPage.css' %}">  
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100,300,500,700,900&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
    </style>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{% static 'blogPosts/js/cursor.js' %}"></script>
  </head>
  <body class="text-body">
    {% comment %} <div id="cursor">
      <img src="http://superkts.pe.kr/images/helper/huk.gif"
      alt="헉">
    </div> {% endcomment %}
    
    <nav class="header">
      <div class="header-logo">
        <a href="/">
          <img src="{%static 'blogPosts/img/logo.png'%}" />
        </a>
      </div>
      <div class="search-box">
        <input type="text" placeholder="원하는 내용을 찾아보세요">
      </div>
    
      <div class="header-menus">
        <ul>
          {% if user.is_authenticated %}
          <li class="header-menu">
            <a href= "{% url 'logout' %}">
              <span>로그아웃</span>
            </a>
          </li>
          <li class="header-menu">
            <a href= "{% url 'mypage' %}">
              <span>마이페이지</span>
            </a>
          </li>
          {% else %}
          <li class="header-menu">
            <a href="{% url 'signup' %}">
              <span>회원가입</span>
            </a>
          </li>

          <li class="header-menu">
            <a href= "{% url 'login' %}">
              <span>로그인</span>
            </a>
          </li>
          {% endif %}

        </ul>
      </div>
    </nav>
    <div class="container">
      <nav class="sub-nav">
        <ol class="breadcrumbs">
          <li title="금융">
            <a>금융</a>
          </li>
          <li title="주식">
            <a>주식</a>
          </li> 
        </ol>
      </nav>
      <div class="article-container">
        <section class="sidebar">
          <h3>경원님을 위한 추천 글</h3>
          <ul>
            <li>
              <a href class="list-item">[금융] 금융에서의 추천 게시글</a>
            </li>
            <li>
              <a href class="list-item">[사랑] 사랑에서의 추천 게시글</a>
            </li>
            <li>
              <a href class="list-item">[운동] 운동에서의 추천 게시글</a>
            </li>
            <li>
              <a href class="list-item">[어플리케이션] 어플리케이션에서의 추천 게시글</a>
            </li>
          </ul>
        </section>
        <article class="article">
          <header class="article-header">
            <h1 class="article-title">[금융] For Every 주식 Beginner</h1>
            <span class="article-sub-title">복리의 법칙은 위대하다 !</span>
          </header>
          <section class="article-info">
            <div class="article-image">
              <img src = "{%static 'blogPosts/img/Bin.png' %}">
            </div>
            <div class="article-content">
              <p>
                <span>주식을 처음 시작하시는 <strong>주식 초보</strong>들을 위한 지침 안내서</span>
              </p>
              <p>
                <span>[증권] 증권 : 유가증권, 주식 (주식의 종류, 주식을 세는 단위 주), 채권</span>
              </p>
              <p>
                <span>[주주의 권리와 책임] 주주, 배당 (주식배당), 투표권, 잔여재산청구권 주주의 책임</span>
              </p>
              <p>
                <span>[주식의 종류] 보통주 · 우선주 · 신형우선주 · 후배주 자사주</span>
              </p>
              <p>
                <span>[주식투자] 주가와 주가의 결정요인, 주식투자방법</span>
              </p>
              <p>&nbsp;</p>
              <p>
                <span>주식을 처음 시작하시는 <strong>주식 초보</strong>들을 위한 지침 안내서</span>
              </p>
              <p>
                <span>[증권] 증권 : 유가증권, 주식 (주식의 종류, 주식을 세는 단위 주), 채권</span>
              </p>
              <p>
                <span>[주주의 권리와 책임] 주주, 배당 (주식배당), 투표권, 잔여재산청구권 주주의 책임</span>
              </p>
              <p>
                <span>[주식의 종류] 보통주 · 우선주 · 신형우선주 · 후배주 자사주</span>
              </p>
              <p>
                <span>[주식투자] 주가와 주가의 결정요인, 주식투자방법</span>
              </p>
              <p>&nbsp;</p>
              <p>
                <span>주식을 처음 시작하시는 <strong>주식 초보</strong>들을 위한 지침 안내서</span>
              </p>
              <p>
                <span>[증권] 증권 : 유가증권, 주식 (주식의 종류, 주식을 세는 단위 주), 채권</span>
              </p>
              <p>
                <span>[주주의 권리와 책임] 주주, 배당 (주식배당), 투표권, 잔여재산청구권 주주의 책임</span>
              </p>
              <p>
                <span>[주식의 종류] 보통주 · 우선주 · 신형우선주 · 후배주 자사주</span>
              </p>
              <p>
                <span>[주식투자] 주가와 주가의 결정요인, 주식투자방법</span>
              </p>
            </div>
          </section>
            <div class="article-footer">
              <div class="article-share">
                <ul class="share">
                  <li>
                    <a href>
                      <img src="{%static 'blogPosts/img/facebook.svg'%}" />
                    </a>
                  </li>
                  <li>
                    <a href>
                      <img src="{%static 'blogPosts/img/instagram.svg'%}" />
                    </a>
                  </li>
                  <li>
                    <a href>
                      <img src="{%static 'blogPosts/img/twitter.svg'%}" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="article-votes">
              <span class="article-votes-question">도움이 되었습니까?</span>
              <div class="article-votes-controls">
                <a class="realButton">예</a>
                <a class="realButton">아니오</a>
              <br>
              <small class="article-votes-count">
                <span class="article-vote-label">5억 명 중 5억 명은 도움이 되었다고 했습니다.</span>
              </small>

            <div class="article-review">
              <h2>
                게시판 후기<em>(2)</em>
                <button class="write-review">리뷰작성</button>
              </h2>
              <ul class="review-1st">
                <li class="1st">
                  <div class="user-info">
                    <span class="img">
                      <div class="profile">
                        <img src = "{%static 'blogPosts/img/Bin.png' %}">
                      </div>
                    </span>
                    <div class="txt">
                      <span class="username">빈더코더</span>
                      <p class="date">2021-07-17 5:10</p>
                    </div>
                  </div>
                  <div class="content">
                    <p> 야 나 대학교 5학년이다 건들지 마라 </p>
                  </div>
                  <div class="btn-box">
                    <button class="likebtn" type="button">0</button>
                    <span class="reply">0</button>
                  </div>
                </li>
              </ul>
              <ul class="review-1st">
                <li class="1st">
                  <div class="user-info">
                    <span class="img">
                      <div class="profile">
                        <img src = "{%static 'blogPosts/img/Bin.png' %}">
                      </div>
                    </span>
                    <div class="txt">
                      <span class="username">더코더빈</span>
                      <p class="date">2017-07-17 5:10</p>
                    </div>
                  </div>
                  <div class="content">
                    <p> 대학교에 5학년이 어딨음 ㅋㅋ </p>
                  </div>
                  <div class="btn-box">
                    <button class="likebtn" type="button">0</button>
                    <span class="reply">0</button>
                  </div>
                </li>
              </ul>
              <div class="page-num">
                <a class="page l"></a>
                <a class="active">1</a>
                <a class="page r"></a>
              </div>
              
            
          <footer>
          </footer>
        </article>
      </div>
    </div>
  </body>
</html>
