{% extends 'base.html' %}
{% load static %}

{% block content %}
  <body class="text-body">
    <div class="container">

      <div class = "homeMiddle">
        <div class = "search">
          <div class = "search_inside" style= "width:100%">
            <div class = "magnifying-icon">
              <img src="{%static 'blogPosts/img/magnifying_glass2.png'%}" />
            </div>
            <div class="search_input">
              <form autocomplete="off">
                <div class="autocomplete" style="width:93%; margin:auto;">
                  <input href="javascript:;" onclick="load_titles({{titles}}, {{categoryId}}, {{rId}});" id="myInput" type="text" name="myCountry" placeholder="검색어를 입력해주세요.">
                </div>
                <input type="submit" style="display:none;">
              </form>
            </div>
          </div>
        </div>
      </div>
      <nav class="sub-nav">
        <ol class="breadcrumbs">
          <li title="금융">
            <a href = 'http://127.0.0.1:8000/mainPage/{{sections.data_id}}' >  {{post.section}}</a>
          </li>
          <li title="주식">
            <a>{{post.sub_section}}</a>
          </li> 
        </ol>
      </nav>
    
      <div class="article-container">
        <section class="sidebar">
          {% if user.is_authenticated %}
            <h3>{{user.profile.email}}님을 위한 추천 글</h3>
          {% else %}
            <h3>새로운 새싹님을 위한 추천 글</h3>
          {% endif %}
          <ul>
            {%for interest_post in interest_posts_inorder_top_ten %}
            <li>
              <a href = "http://127.0.0.1:8000/mainPage/{{interest_id}}/post/{{interest_post.id}}/" class="list-item">[{{interest_post.section}}] {{interest_post.title}}</a>
              {% comment %} <a href = "/mainPage/{{interest_id}}/post/{{interest_post.id}}" class="list-item">[{{interest_post.section}}] {{interest_post.title}}</a> {% endcomment %}
            </li>
            {% endfor %}
          </ul>
        </section>
          <article class="article">
            <header class="article-header">
              <h1 class="article-title">[{{post.section}}] {{post.title}}</h1>
            </header>
            
          <table class="main_selector" align="center" width="100%">
            <td id="article-sub-title">
              <span>{{post.brief_description}}</span>
            </td>
            <td align="center">
              <button type="button" class="back" onClick="change_src('http://127.0.0.1:8000/mainPage/history/{{post.id}}/')">
                <div class="button_base
                b02_slide_in">
                  <div>력사 보기</div>
                  <div></div>
                  <div>력사 보기</div>
                </div>
              </button>
              <!-- <button type="button" class="navyBtn" onClick="change_src('http://127.0.0.1:8000/blogPosts/text3/')">력사 보기 -->
            </td>
            {% if user.is_authenticated %}
            <td align="center">
              <button type="button" class="back" onClick="change_src('http://127.0.0.1:8000/mainPage/update/{{post.id}}/')">
                <div class="button_base
                b02_slide_in">
                  <div>편집</div>
                  <div></div>
                  <div>편집</div>
                </div>
              </button>
                <!-- <button type="button" class="navyBtn" onClick="change_src('http://127.0.0.1:8000/blogPosts/text2/')">편집 -->
            </td>
            {% endif %}
            <td align="center">
              <button type="button" class="back" onClick="change_src('http://127.0.0.1:8000/mainPage/content/{{post.id}}')">
                <div class="button_base
                b02_slide_in">
                  <div>읽기</div>
                  <div></div>
                  <div>읽기</div>
                </div>
              </button>
              <!-- <button type="button" class="navyBtn" onClick="change_src('http://127.0.0.1:8000/blogPosts/text1/')">읽기 -->
            </td>
          </table>

          <div class="iframe-box" style="overflow: hidden;">
            <iframe id='my_frame' src='http://127.0.0.1:8000/mainPage/content/{{post.id}}' style="width:100%; height:600px; border:none;" scrolling="no"></iframe>
          </div>

          <footer>
            <div class="article-footer">
              <div class="article-share">
                <ul class="share">
                  <li>
                    <a href="" onclick="window.open(url_combine_fb, '', 'scrollbars=no, width=600, height=600'); return false;">
                      <img src="{% static 'blogPosts/img/facebook.svg'%}" title="페이스북으로 공유하기" class="sharebtn_custom">
                    </a>
                  </li>
                  <li>
                    <a href="" onclick="window.open(url_combine_naver, '', 'scrollbars=no, width=600, height=600'); return false;">
                      <img src="{% static 'blogPosts/img/naver.png'%}" title="네이버로 공유하기" class="sharebtn_custom">
                    </a>
                  </li>
                  <li>
                    <a href="" onclick="window.open(url_combine_tw, '', 'scrollbars=no, width=600, height=600'); return false;">
                      <img src="{% static 'blogPosts/img/twitter.svg'%}" title="트위터로 공유하기" class="sharebtn_custom">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="article-votes">
              <span class="article-votes-question">도움이 되었습니까?</span>
              <div class="article-votes-controls">
                  {% if like_flag == 1 %}
                    <a class="realButton" onclick="onClickLikeButton({{post.id}}, {{id}})" id="{{post.id}}-like-button" style = "background-color : rgba(181, 229, 80, 0.1)" >예</a>
                    <a class="realButton" onclick="onClickDislikeButton({{post.id}}, {{id}})" id="{{post.id}}-dislike-button">아니오</a>
                  {% elif like_flag == 2 %}
                    <a class="realButton" onclick="onClickLikeButton({{post.id}}, {{id}})" id="{{post.id}}-like-button">예</a>
                    <a class="realButton" onclick="onClickDislikeButton({{post.id}}, {{id}})" id="{{post.id}}-dislike-button" style = "background-color : rgba(181, 229, 80, 0.1)">아니오</a>
                  {% else %}
                    <a class="realButton" onclick="onClickLikeButton({{post.id}}, {{id}})" id="{{post.id}}-like-button">예</a>
                    <a class="realButton" onclick="onClickDislikeButton({{post.id}}, {{id}})" id="{{post.id}}-dislike-button">아니오</a>
                  {% endif %}
              <br>
              <small class="article-votes-count" id = "{{post.id}}-votes-count">
                <span class="article-vote-label">{{post.like_dislike.count}} 명 중 {{post.get_total_like}} 명은 도움이 되었다고 했습니다.</span>
              </small>

            <div class="article-review">
              <h2 id = "commentset-num">
                게시판 후기&nbsp;<em>({{post.comment_set.count}})</em>
              </h2>

              <div class="rv-1st">
                <div class="user-info">
                  <span class="img">
                    <div class="profile">
                      <img src = {{user.profile.profile_image.url}}>
                    </div>
                  </span>
                  <div class="txt">
                    <span class="username">{{user.profile.email}}</span>
                  </div>
                </div>
                {% csrf_token %}
                <div class="content">
                  <div class="content-input">
                    <input name = "content" id="review-input-type" type="text" placeholder="댓글을 달아달아 밝은달아"/>
                  </div>
                  <button onclick = "onAddComment({{post.id}}, {{id}})" id="review-input-btn">리뷰작성</button>
                </div>
              </div>
            
            <div id = "comment_list">
              <div id = "async_comment">
              </div>
              {% for comment in comments %}
                <ul class="review-1st" id="post{{post.id}}-comment{{comment.id}}">
                  <li class="1st">
                    <div class="user-info">
                      <span class="img">
                        <div class="profile">
                          <img src = {{user.profile.profile_image.url}}>
                        </div>
                      </span>
                      <div class="txt">
                        <span class="username">{{ comment.author.profile.email }}</span>
                        <p class="date">
                        {{ comment.created_at }} 
                        {% if request.user == comment.author %}
                          <button onclick="onDeleteComment({{post.id}},{{id}}, {{comment.id}})">댓글 삭제</button>
                        {% endif %}
                        </p>
                      </div>
                    </div>
                    <div class="content">
                      <p> {{ comment.content }} </p>
                    </div>
                  </li>
                </ul>
              {% endfor %}
            </div>
              <div class="page-num">
                <a class="page l"></a>
                <a class="active">1</a>
                <a class="page r"></a>
              </div>
          </footer>
          <br>

          <section>
            <div class="main-footer">
              <h4>FEB Makers |&nbsp&nbsp</h4>
              <div class="footer-insta">
                <a href="https://www.instagram.com/seoseongq" >
                  <img id="insta-icon" src="{%static 'blogPosts/img/profile/ssk.jpg'%}" 
                  /></a>&nbsp
                <a href="https://www.instagram.com/inkyu_o" >
                  <img id="insta-icon" src="{%static 'blogPosts/img/profile/oik.jpg'%}" 
                  /></a>&nbsp
                <a href="https://www.instagram.com/_binthect_" >
                  <img id="insta-icon" src="{%static 'blogPosts/img/profile/yjb.jpg'%}" 
                  /></a>&nbsp
                <a href="https://www.instagram.com/gdori__s2" >
                  <img id="insta-icon" src="{%static 'blogPosts/img/profile/lkw.jpg'%}" 
                  /></a>
              </div>
            </div>
          </section>
        </article>
      </div>
    </div>
  </body>
  <script type="text/javascript" async>
    var url_default_ks = "https://story.kakao.com/share?url=";
    var url_default_fb = "https://www.facebook.com/sharer/sharer.php?u=";
    var url_default_tw_txt = "https://twitter.com/intent/tweet?text=";
    var url_default_tw_url = "&url=";
    var url_default_band = "http://band.us/plugin/share?body=";
    var url_route_band = "&route=";
    var url_default_naver = "http://share.naver.com/web/shareView.nhn?url=";
    var title_default_naver = "&title=";
    var url_this_page = location.href;
    var title_this_page = document.title
    var url_combine_ks = url_default_ks + url_this_page;
    var url_combine_fb = url_default_fb + url_this_page;
    var url_combine_tw = url_default_tw_txt + document.title + url_default_tw_url + url_this_page;
    var url_combine_band = url_default_band + encodeURI(url_this_page)+ '%0A' + encodeURI(title_this_page)+'%0A' + '&route=tistory.com';
    var url_combine_naver = url_default_naver + encodeURI(url_this_page) + title_default_naver + encodeURI(title_this_page);
   </script>
{% endblock content%}