{% extends 'base.html' %}
{% block content %}
{% load static %}
    <h1>내용을 수정해주세요!</h1>
    

    <form action="{% url 'blogPosts:update' id=post.id %}" method="POST">

        {% csrf_token %}
        <p>분류</p>
        <input name = "section" value = {{post.section}} /><br/>
        <p>제목</p>
        <input name="title" value = {{post.title}} /> <br />
        <p>한줄 요약</p>
        <textarea name="brief_description" rows="1" cols="50" >{{post.brief_description}}</textarea> <br />
        <p>내용</p>
        <textarea name="content" rows="30" cols="50" >{{post.content}}</textarea> <br />
        
        <input type="submit" value="submit" />
    </form>


{% endblock content %}