<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset='utf-8'>
        <title>FEB</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'blogPosts/css/base.css' %}">  
        <link rel="stylesheet" href="{% static 'blogPosts/css/home.css' %}">  
        <link rel="stylesheet" href="{% static 'blogPosts/css/main.css' %}">
        <link rel="stylesheet" href="{% static '/blogPosts/css/textPage.css' %}">  
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100,300,500,700,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
        </style>
        <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="{% static 'blogPosts/js/cursor.js' %}"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script>
            function change_src(url){
                $('#my_frame').attr('src', url);
            }
        </script>
    </head>

    <body>
        <h3>내맘대로 편집하기!!!!!!!!!!!!!!!!</h3>
        <form id="update-textPage" name = "multiple_form" method="POST" action="{% url 'blogPosts:update' id=post.id %}">
        {% csrf_token %}
            <div class="update-editor">
                <textarea id="update-textarea" name="content" rows="30" cols="85" >{{post.content}}</textarea>
                <div id="update-inputbox-uppper">
                    <input id="update-inputbox" type="submit" name ="action" value="   편집 완료   " />
                </div>
            </div>
            <div class="article-image">
                <img src={{post.image.url}} onError="this.style.visibility='hidden'">
            </div> 
        </form>
    </body>
</html>

