.loginPage {
  background-color: #fafafa;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  font-family: Noto Sans KR,Malgun Gothic,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.loginPage h2 {
  margin:0 0 2.5rem 0;
  text-align: center;
  font-weight: 500;
  font-size: 2.125rem;
  line-height: normal;
  letter-spacing: normal;
  display:block;
  margin-block-end: 0.83em;
  margin-block-start: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  margin: 0 auto;
  height: 40px;
  border: none !important;
  background-color: #fafafa;
  padding: 1rem 1rem;
  align-items: center !important;
  font-family: "Noto Sans KR";
}

.header-logo {
  resize: both;
  width: 250px;
  height:  40px;
  text-align: center;
}




.loginPage .card {
  width: 100%;
  max-width: 342px;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  padding: 2.5rem;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.loginPage .formRow {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: -5px;
  margin-left: -5px;
}

.loginPage .formRow legend {
  font-size: 1rem;
  padding-bottom: .375rem;
  font-weight: 500;
  padding-top: 0!important;
}

.loginPage .formRow .pwLegend {
  margin-top: 10px;
}

.loginPage .formRow input {
  padding: .75rem;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-image:none;
  display: block;
  width: 100%;
  height: calc(1.5em + 1.375rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #323232;
  background-color: #fff;
  background-clip: padding-box;
  box-sizing:border-box;
}

.loginPage .formRow .userPw{
  margin-bottom: 20px;
}

.loginPage button{
  width: 100%;
  margin-bottom: .75rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginPage .emailLoginBtn {
  transition: opacity .2s ease-in-out;
  color:#fff;
  background-color: #FFB13D;
  border-color: #FFB13D;
  display:inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .6875rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.loginPage .facebookLoginBtn {
  /* display:inline-block; */
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  /* padding: .6875rem .75rem; */
  /* line-height: 1.5; */
  border-radius: .25rem;
  margin-bottom: 40px;
  padding: 0;
  background-color: white;
}

.loginPage .facebookLoginBtn a img{
  resize: both;
  width: 360px;
  height: 80px;
}

.loginPage .facebookLoginBtn a, a:visited {
  text-decoration: none;
  color: white;
}

.loginPage .signupLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginPage .signupLink .link {
  font-size: 1rem;
  color: #737373;
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}
